@model Yachtos.Models.Items

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fk_storage.Item)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.getStorageById(model.StorageId).Item)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fk_storage.kiekis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.getStorageById(model.StorageId).kiekis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fk_storage.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.getStorageById(model.StorageId).description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fk_storage.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.getStorageById(model.StorageId).Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
