@model IEnumerable<Yachtos.Models.Items>

@{
    ViewData["Title"] = "Items";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.getStorageById(model.StorageId).Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.getStorageById(model.StorageId).kiekis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.getStorageById(item.StorageId).Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.getStorageById(item.StorageId).kiekis)
            </td>
            <td>
                <a asp-action="AddCart" asp-route-id="@item.id">Add to cart</a> |
                <a asp-action="Favorites" asp-route-id="@item.id">Add to favorites</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
